<footer>
    <section class="footer-links-line">
        <a href="https://twitter.com/Scatter_EOS" class="icon-link"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="https://github.com/EOSEssentials/Scatter" class="icon-link"><i class="fa fa-github"></i> GitHub</a>
    </section>
    <section class="footer-links-line">
        <a href="#" class="text-link">Privacy</a>
        <a href="#" class="text-link">Terms & Conditions</a>
        <a href="#" class="text-link">Support</a>
    </section>
</footer>