<section class="hero">
  <figure class="background"></figure>
  <section class="centered">
    <section class="info">
      <figure class="logo">Scatter</figure>
      <figure class="tagline">Making the Blockchain integrate seamlessly with the world.</figure>
      <a href="https://github.com/nsjames/Scatter/raw/master/scatter.zip" class="cta">Download Extension</a>
    </section>
  </section>

  <section class="keychain">
    <figure class="icon">
      <img [src]="'assets/img/icon.png'">
    </figure>
    <figure class="popup">
      <img [src]="'assets/img/locked.png'">
    </figure>
  </section>
</section>

<main>
  <h1>What is <span class="grand">Scatter</span></h1>

  <p>
    Scatter is a <b>Decentralized-Application Bridge</b> for the <b>EOS Blockchain</b>.
    <br>
    <br>

    If a decentralized application is the bridge between you and the blockchain, then Scatter is the encrypted bridge between you and the application. It handles
    your keys, accounts, and various other user-set definitions such as identities and private data.
    <br>
    <br>

    Take a shopping website as an example. Normally you have to click buy, then enter your private keys, shipping address, email, and any other information they
    require in order to ship your purchase to you, then you have to create an account to track your order which again requires your email and a password.
    With Scatter you simply click buy, accept the transaction with the account of your choosing, and you’re done.
  </p>
  <br>

  <h1>Why use <span class="grand">Scatter</span></h1>
  <p>
    Copy pasting your confidential information such as keys leaves you open to various vulnerabilities. It’s fairly easy to mispell something and end up sending
    your money to an unintended account or have your personal information stolen by man-in-the-middle attacks, keyloggers, or even just some guy accross
    the street with a pair of binoculars.
    <br>
    <br>

    <b>Let’s look at some of the various ways that Scatter helps secure your accounts, transactions, keys and money.</b>
  </p>

  <hr class="higher" />

  <section class="split">
    <section class="third bullet">
      <figure class="icon"><i class="fa fa-check"></i></figure>
      <figure class="header">Your public keys and account names are always correct.</figure>
      <figure class="sub-header">
        When a website asks for your accounts
        you never have to worry about double
        checking what you copy pasted again.
      </figure>
    </section>

    <section class="third bullet">
      <figure class="icon"><i class="fa fa-lock"></i></figure>
      <figure class="header">Your confidential data is safe and encrypted.</figure>
      <figure class="sub-header">
        Your private data is always encrypted
        and inaccessible by websites until
        the very millisecond you need it.
      </figure>
    </section>

    <section class="third bullet">
      <figure class="icon"><i class="fa fa-address-book"></i></figure>
      <figure class="header">Never lose access to your private keys and accounts.</figure>
      <figure class="sub-header">
        Your entire keychain can be exported
        as encrypted JSON and can be decrypted
        using your password or mnemonic.
      </figure>
    </section>
  </section>

  <hr class="higher" />

  <section class="split">
    <section class="two-thirds">
      <figure class="quote">
        <i class="fa fa-quote-left"></i>
        As far as the website is concerned Scatter is a black box with only
        a few methods that can be used to contact it, all of which require
        your explicit authorization.
        <i class="fa fa-quote-right"></i>
      </figure>
      <hr />
      <p>
        Identities can be configured on Scatter and requested by applications without you having to fill
        out the same form a thousand times on different applications. They can also hold locational
        data such as addresses and personal data such as phone numbers, real names and email
        addresses. When a website wants to register you as a User, they simply request an identity
        and you never have to enter another password again since they can verify you using proven
        cryptographic technologies.
        <br>
        <br>

        You can set up multiple identities and select which one to use at will. This is great for when
        you want different levels of anonymity for different websites, or simply different shipping
        addresses for different locations.
      </p>
    </section>
    <section class="third no-padding">
      <img [src]="'assets/img/identity_request.jpg'" class="popupshot force-space-at-bottom" />
    </section>
  </section>

  <section class="split" style="overflow:visible; margin-top:50px;">
    <section class="third on-left hide-mobile">
      <figure class="dummy-buy-button">Button to buy something</figure>
      <img [src]="'assets/img/arrow.png'" class="arrow" />
      <img [src]="'assets/img/transfer_req.jpg'" class="popupshot" />
      <img [src]="'assets/img/arrow.png'" class="arrow" />
      <section class="purchase-process-end" style="padding:0 40px;">
        <figure class="header">That’s it!</figure>
        <figure class="sub-header">Your purchased products are on the way. </figure>
      </section>
    </section>
    <section class="two-thirds on-right" style="overflow: hidden; float:none; display: inline-block">
      <figure class="quote">
        <i class="fa fa-quote-left"></i>
        Doing authenticated actions and purchasing goods online,
        whether digital or physical, has become a demanding process that
        hinders user experience on a daily basis.
        <i class="fa fa-quote-right"></i>
      </figure>
      <hr />
      <p>
        Identities can be configured on Scatter and requested by applications without you having to fill
        out the same form a thousand times on different applications. They can also hold locational
        data such as addresses and personal data such as phone numbers, real names and email
        addresses. When a website wants to register you as a User, they simply request an identity
        and you never have to enter another password again since they can verify you using proven
        cryptographic technologies.
        <br>
        <br>

        You can set up multiple identities and select which one to use at will. This is great for when
        you want different levels of anonymity for different websites, or simply different shipping
        addresses for different locations.
      </p>


      <hr />

      <section class="split">
        <section class="half bullet">
          <figure class="icon"><i class="fa fa-shield"></i></figure>
          <figure class="header">Secure Identities</figure>
          <figure class="sub-header">
            The socket between the website and
            Scatter is encrypted. Your personal
            information is never exposed.
          </figure>
        </section>
        <section class="half bullet">
          <figure class="icon"><i class="fa fa-key"></i></figure>
          <figure class="header">Easy Access</figure>
          <figure class="sub-header">
            One click of a button is all it takes
            to complete a transaction with all
            of your sensitive information.
          </figure>
        </section>
      </section>
    </section>
  </section>

  <hr class="higher" />

  <section class="elaborated-cta">
    <figure class="header">There's no reason to keep waiting.</figure>
    <figure class="sub-header">Take advantage of added the benefits of Scatter right now on Chrome.</figure>
    <a href="https://github.com/nsjames/Scatter/raw/master/scatter.zip" class="button">Download Extension</a>
  </section>

</main>
