<section class="hero">
  <figure class="background"></figure>
  <section class="centered">
    <section class="info">
      <figure class="logo">Scatter</figure>
      <figure class="tagline">Less time worrying<br> is more time smiling.</figure>
      <figure class="tagline small" style="margin-top:5px;">
        <u>1500+ users. 20+ known dapps.</u>
      </figure>
      <a href="http://www.demos.scatter-eos.com/" class="cta flashy">You can already try it</a>
      <!--<a style="margin-top:10px;" href="https://t.me/Scatter" class="cta small">Join Our Telegram</a>-->
      <section class="social">
        <a href="https://t.me/Scatter" class="icon-link"><i class="fa fa-paper-plane"></i></a>
        <a href="https://twitter.com/Scatter_EOS" class="icon-link"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/EOSEssentials/Scatter" class="icon-link"><i class="fa fa-github"></i></a>
      </section>
    </section>
  </section>

  <!--<section class="keychain">-->
    <!--<figure class="icon">-->
      <!--<img [src]="'assets/img/icon.png'">-->
    <!--</figure>-->
    <!--<figure class="popup">-->
      <!--<img [src]="'assets/img/locked.png'">-->
    <!--</figure>-->
  <!--</section>-->
</section>

<main>



  <section class="logos">
    <!--<figure class="header"></figure>-->
    <!--<figure class="sub-header"></figure>-->
    <!--<a href="http://www.demos.scatter-eos.com/#/" class="button">Download Extension</a>-->
    <a href="https://forums.eosgo.io/" target="_blank" class="icon-logo"><img src="assets/logos/eosgo.png"/></a>
    <a href="https://www.carmel.io/" target="_blank" class="icon-logo"><img src="assets/logos/carmel.png"/></a>
    <a href="https://hack-til-dawn.com" target="_blank" class="icon-logo"><img src="assets/logos/hacktildawn.png"/></a>
    <a href="http://www.weosapp.com/" target="_blank" class="icon-logo"><img src="assets/logos/weos.png"/></a>
    <a href="https://www.irespo.com/" target="_blank" class="icon-logo"><img src="assets/logos/irespo.png"/></a>
    <a href="https://eosindex.io/" target="_blank" class="icon-logo"><img src="assets/logos/eosindex.png"/></a>
    <a href="https://github.com/eos42/Chintai" target="_blank" class="icon-logo"><img src="assets/logos/chintai.png"/></a>
    <a href="http://eostracker.io/" target="_blank" class="icon-logo"><img src="assets/logos/eostracker.png"/></a>
    <a href="http://walleteos.com/login" target="_blank" class="icon-logo"><img src="assets/logos/walleteos.png"/></a>
    <a href="https://github.com/EOSEssentials" target="_blank" class="icon-logo"><img src="assets/logos/eosessentials.png"/></a>
    <a href="http://bitjoy.io" target="_blank" class="icon-logo"><img src="assets/logos/bitjoy.png"/></a>
  </section>


  <section class="video">
    <iframe width="100%" src="https://www.youtube-nocookie.com/embed/06RSj40bHhs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </section>

  <h1>What is <span class="grand">Scatter</span></h1>

  <p>
    Scatter is a way to sign transactions and provide private data without exposing
    keys and unnecessary information while interacting with web applications communicating with the <b>EOS Blockchain</b>.
    <br>
    <br>

    <a class="underlined" href="http://www.demos.scatter-eos.com/#/shopping" target="_blank">Take a shopping website as an example</a>.

    Normally you have to click buy, then enter your private keys / credit card, shipping address, email, and any other information they
    require in order to ship your purchase to you, then you have to create an account to track your order which again requires your email and a password.
    With Scatter you set up an Identity once, and then simply click buy. Applications can then request shipping information right from the transaction signature prompt.
  </p>

  <hr class="higher" />

  <section class="split">
    <section class="third bullet">
      <figure class="icon"><i class="fa fa-check"></i></figure>
      <figure class="header">Your public keys and account names are always correct.</figure>
      <figure class="sub-header">
        When a website asks for your accounts
        you never have to worry about double
        checking what you copy pasted.
      </figure>
    </section>

    <section class="third bullet">
      <figure class="icon"><i class="fa fa-lock"></i></figure>
      <figure class="header">Your confidential data is safe and encrypted.</figure>
      <figure class="sub-header">
        Keys and Personal information are always encrypted
        and inaccessible by websites until
        you decide to supply it.
      </figure>
    </section>

    <section class="third bullet">
      <figure class="icon"><i class="fa fa-user-circle-o"></i></figure>
      <figure class="header">Scatter helps provide a better User-Experience on the blockchain.</figure>
      <figure class="sub-header">
        Our aim isn't just to provide a secure store for data. It's also
        about providing the simplest way for you to use it.
      </figure>
    </section>
  </section>

  <hr class="higher" />

  <section class="elaborated-cta">
    <figure class="header">Don't take our word for it.</figure>
    <figure class="sub-header">
      We've already set up a bunch of demos that you can use to see exactly how things work.
      <br>
      Continue reading about Scatter or go ahead and have some fun. See if you can beat the top high-score on <b>Space Invaders</b>.
    </figure>
    <a href="http://www.demos.scatter-eos.com/#/" target="_blank" class="button">Play Around</a>
  </section>

  <hr class="higher" />

  <section class="elaborated-cta">
    <figure class="header"><b>Hold your horses!</b></figure>
    <figure class="sub-header">
      <b>The Scatter RIDL airdrop, reservation and auction is currently underway.</b>
      RIDL is a system for Scatter that provides Identities the ability to become unique and to give/gain reputation. It also adds some
      extra security to Scatter by creating a decentralized whitelist/blacklist of applications.
      <br><br>
      RIDL participation is not a mandatory requirement for using Scatter.
    </figure>
    <a href="http://airdrop.scatter-eos.com/#/" target="_blank" class="button">Go To Airdrop</a>
    <a href="https://docs.google.com/document/d/1P6Oz08vNjrJO1H3HmBkuh4BIVm3-0YAe4nqo-xfT4v0/edit?usp=sharing" target="_blank" class="button">Read About RIDL</a>
  </section>

  <hr class="higher" />

  <section>
    <figure class="quote centered">
      <i class="fa fa-quote-left"></i>
      All information inside of Scatter <b>stays</b> inside of Scatter until you explicitly authorize an application to
      view it. Nothing is ever just <b>given</b> to the application.
      <i class="fa fa-quote-right"></i>
    </figure>
    <hr class="higher" />
  </section>
  <section class="centered-image">
    <img [src]="'assets/img/provide_identity.png'" class="popupshot force-space-at-bottom" />
  </section>
  <section>
    <hr />
    <p>
      <b>Identities</b> inside of Scatter are the containers for personal information and private data.
      You configure them once and use them as much as you want. They provide a layer of abstraction away from your
      EOS accounts and help get rid of the need for pesky multi-page registrations.
      <br><br>
      Inside of them you store anything that an application might need to use in the future, for instance:
    </p>
    <ul>
      <li><p>Identity Name ( the username for applications )</p></li>
      <li><p>EOS Accounts / Key Pairs</p></li>
      <li><p>Personal Information ( full name, email, date of birth )</p></li>
      <li><p>Location Information ( phone, address, city, state, country, zip code )</p></li>
    </ul>
    <p>
      A single Scatter can hold multiple Identities which allows for multiple sets of data points. For instance if you
      want to purchase a gift for your spouse you can set up an Identity for them inside of your Scatter once and use it over
      and over again without having to re-enter that information.
    </p>
  </section>
  <hr />

  <section class="split" style="overflow:visible; margin-top:50px;">
    <section class="third on-left hide-mobile">
      <img [src]="'assets/img/permissions.png'" class="popupshot" />
    </section>
    <section class="two-thirds on-right" style="overflow: hidden; float:none; display: inline-block">
      <figure class="quote">
        <i class="fa fa-quote-left"></i>
        Scatter gives you access to a permissions panel which allows you to manage all of it's permissions from a single location.
        <i class="fa fa-quote-right"></i>
      </figure>
      <hr />
      <p>
        Absolutely nothing can be retrieved from your Scatter without some sort of <b>Permission</b>.
        <br>
        There are two types of permissions within Scatter.
        <br>
        <br>
        <b class="tag">Identity Permissions</b>
        <br>
        These are the initial authentication permissions you provide to an application.
        Without an Identity Permission an application can not retrieve any information or request
        any transaction signatures.

        <br>
        <br>
        <b class="tag">Contract Action Permissions</b>
        <br>
        These are optional permissions based on signature requests. They allow you to check a box from the signature request
        prompt to sign the same transaction automatically the next time it is requested. This is great for things like
        chat style applications for instance as it would be terrible user experience to have to click not only the submit
        button on the application every time, but also approve the transaction.
      </p>


      <br>
      <br>
      <br>
    </section>
  </section>

  <hr class="higher" />

  <section>
    <figure class="quote centered">
      <b>Signature Requests show you everything.</b><br>
      <i class="fa fa-quote-left"></i>
      There is never a way to hide any data that gets sent to the blockchain with your signature.
      <i class="fa fa-quote-right"></i>
    </figure>
    <hr class="higher" />
  </section>
  <section class="centered-image">
    <img [src]="'assets/img/signature_request.png'" class="popupshot force-space-at-bottom" />
  </section>

  <section>
    <hr />
    <p>
      If you're going to sign something, you have the right to know exactly what you're signing. With Scatter we make
      sure you <b>always</b> do. You can view the transaction you are about to sign as either a list of human-readable
      properties or as the raw JSON that gets sent to the blockchain.
      <br><br>

      Scatter also allows applications to request other information from you when signing transactions as well; such as
      shipping information. If you look at the image above you can see that the application requires not only an EOS account
      but also <b>firstname, lastname, country, address, and city</b>. When you accept the transaction signature request those
      fields from the Identity ( located top right: Clark Kent ) will also be returned.
      <br>
      <br>
      Since a lot of those properties are from location information there's also a dropdown there which will allow you to
      select which location ( since an Identity can have many, like home or work. ) you want to provide shipping information
      from.

      <br>
      <br>
      At the very bottom you can also see a section for whitelisting this transaction by adding a <b>Contract Action Permission</b>.
      If you do this you will not have to re-accept this signature request next time as long as every property matches.
    </p>
  </section>




  <!--<section class="split">-->
    <!--<section class="half bullet">-->
      <!--<figure class="icon"><i class="fa fa-shield"></i></figure>-->
      <!--<figure class="header">Secure Identities</figure>-->
      <!--<figure class="sub-header">-->
        <!--The socket between the website and-->
        <!--Scatter is encrypted. Your personal-->
        <!--information is never exposed.-->
      <!--</figure>-->
    <!--</section>-->
    <!--<section class="half bullet">-->
      <!--<figure class="icon"><i class="fa fa-key"></i></figure>-->
      <!--<figure class="header">Easy Access</figure>-->
      <!--<figure class="sub-header">-->
        <!--One click of a button is all it takes-->
        <!--to complete a transaction with all-->
        <!--of your sensitive information.-->
      <!--</figure>-->
    <!--</section>-->
  <!--</section>-->

  <hr class="higher" />

  <section class="elaborated-cta">
    <figure class="header">There's no reason to keep waiting.</figure>
    <figure class="sub-header">Take advantage of the added benefits of Scatter right now on Chrome.</figure>
    <a href="http://www.demos.scatter-eos.com/#/" class="button">Download Extension</a>
  </section>

</main>
