@import '../../../scss/variables';

.hero {
  height:700px;

  .background {
    position:absolute;
    left:0; right:0;
    top:-210px;
    height:730px;
    background:$blue;
    transform: skewY(-6deg);
    transform-origin: 100%;
    z-index: -1;

    &:after {
      content:'';
      position:absolute;
      display:block;
      top:0;
      left:0;
      right:0;
      bottom:50px;
      transform: skewY(0deg);
      background:$blue;

      animation-name: skew-to-line;
      animation-delay: 1.5s;
      animation-duration: 1.8s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    @keyframes skew-to-line {
      0% { transform: skewY(0deg); }
      100% { transform: skewY(6deg); }
    }
  }

  .centered {
    display: flex;
    align-items: center;
    height:650px;
    color:$white;
    text-align:left;
    width:calc(100% - 362px);
    float:left;
  }

  .info {
    float:left;

    .logo {
      font-family: 'Grand Hotel', sans-serif;
      font-size:100px;
      line-height:100px;
    }

    .tagline {
      font-size:34px;
      max-width:500px;
      width:100%;
      font-weight:200;
    }

    .cta {
      cursor: pointer;
      height:50px;
      line-height:44px;
      border:3px solid $white;
      color:$white;
      font-size: 24px;
      display: inline-block;
      padding:0 20px;
      border-radius: 4px;
      margin-top:40px;
      transition: all 0.2s ease;
      transition-property: background,color;

      &:hover {
        background:$white;
        color:$blue;
      }

      &:active {
        background:transparent;
        color:$white;
      }
    }
  }

  .keychain {
    float: right;
    text-align: right;
    position:relative;
    margin-top:120px;

    .icon {
      width:24px;
      height:24px;
      margin-right:3px;
      display: inline-block;
      position:absolute;
      top:0;
      right:0;

      &:after {
        content:'';
        display:block;
        width:100px;
        height:100px;
        border-radius:50%;
        background:#125c77;
        position:absolute;
        top:-38px; bottom:0;
        left:-38px; right:0;
        z-index:-1;
        box-shadow:inset 0 0 100px rgba(0,0,0,0.2), 0 0 50px rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
        animation-name: popup-icon-bg-grow;
        animation-delay: 1s;
        animation-duration: 0.8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform:scale(0);
      }

      @keyframes popup-icon-bg-grow {
        0% {
          transform:scale(0);
        }
        40% {
          transform:scale(1.2);
        }
        100% {
          transform:scale(1);
        }
      }
    }

    .popup {
      width:362px;
      height:512px;
      max-height:0;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 25px rgba(0, 0, 0, 0.15);
      overflow:hidden;
      animation-name: popup-unfurl;
      animation-delay: 1.35s;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      position:absolute;
      top:30px;
      right:0;
    }

    @keyframes popup-unfurl {
      0% {
        max-height:0;
        opacity:0;
      }
      100% {
        max-height:512px;
        opacity:1;

      }
    }
  }
}

main {
  margin-top:100px;

  h1 {
    font-size:34px;
    font-weight: 300;
    color:#868686;

    .grand {
      font-family: 'Grand Hotel', sans-serif;
      font-size: 48px;
      color:#494949;
    }
  }

  p {
    font-size:16px;
    color:#858585;
    line-height:22px;
  }

  hr {
    border-width: 0;
    width:100%;
    height:1px;
    background:#c8c8c8;
    margin:50px 0;

    &.higher {
      margin:80px 0;
    }
  }

  .split {
    overflow:hidden;

    .half {
      width:50%;
      float:left;
      padding:0 45px;
      text-align: center;
    }

    .third {
      width:33.3%;
      float:left;
      padding:0 45px;
      text-align: center;

      &.on-left {
        max-width:335px;
        margin-right:50px;
        padding:0;
      }
    }

    .two-thirds {
      width:66.6%;
      float:left;
      padding:0 45px 0 0;
      text-align: left;
    }
  }

  .bullet {

    .icon {
      width:70px;
      height:70px;
      background:#444444;
      color:$white;
      border-radius: 50%;
      display:inline-block;
      line-height:70px;
      font-size: 30px;
    }

    .header {
      color:#4d4d4d;
      font-size: 18px;
      margin-top: 20px;
    }

    .sub-header {
      color:#858585;
      font-size: 16px;
      margin-top: 10px;
    }
  }

  .popupshot {
    box-shadow:0 1px 2px rgba(0,0,0,0.15), 0 20px 45px rgba(0,0,0,0.1);

    &.force-space-at-bottom {
      margin-bottom:45px;
    }
  }

  .quote {
    font-size: 24px;
    color:#858585;
    font-style: italic;

    i {
      font-size:16px;
      vertical-align: top;
      color:#ddd;
      padding:0 5px;
    }
  }

  .dummy-buy-button {
    cursor: pointer;
    height:50px;
    width:100%;
    line-height:50px;
    background:$blue;
    color:$white;
    text-align: center;
  }

  .arrow {
    margin:20px 0;
    display:inline-block;
  }

  .purchase-process-end {

    .header{
      font-size: 24px;
      color:#7b7b7b;
    }

    .sub-header{
      font-size: 16px;
      color:#858585;
      margin-top:10px;
    }
  }

  .elaborated-cta {
    text-align:center;

    .header {
      font-size: 48px;
      color:#858585;
      font-weight: 200;
    }

    .sub-header {
      font-size: 16px;
      color:#858585;
      margin-top:20px;
    }

    .button {
      cursor: pointer;
      height:50px;
      line-height:44px;
      border:3px solid $blue;
      color:$blue;
      font-size: 24px;
      display: inline-block;
      padding:0 20px;
      border-radius: 4px;
      margin-top:40px;
      transition: all 0.2s ease;
      transition-property: background,color;

      &:hover {
        background:$blue;
        color:$white;
      }

      &:active {
        background:transparent;
        color:$blue;
      }
    }
  }


}