@import './scss/variables';

html,
body,
figure,
section,
div,
a,
span,
p,
nav,
footer,
article,
input,
textarea{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration: inherit;
}

body {
  overflow-y: scroll;
  font-family: 'Raleway', sans-serif;
}

.limit-width {
  max-width:1366px;
  margin:0 auto;
  padding:0 100px;

  @media (max-width: 1200px){
    padding:0 40px;
  }
}